/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.faq_question {
	cursor: pointer;
	margin-bottom: 10px;
	color: #3F51B5;
	padding: 5px 10px;
	border-radius: 3px;
}
.faq_question:hover {
	background-color: rgba(0, 0, 0, 0.1);
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */