<div layout="vertical">

	<md-content layout-fill>

		<homebiscuit-header></homebiscuit-header>
		
		<div class="layout-content" flex>
			
			<md-card>
				<md-card-content layout="column" layout-align="center start">
					<h1 class="md-title">Frequently Asked Questions</h1>
					<a ng-repeat="(key, value) in faqs" class="md-primary faq_question" ng-click="jumpToQuestion('{{ key }}')">{{ key }}</a>
				</md-card-content>
			</md-card>
			
			<md-card ng-repeat="(key, value) in faqs">
				<md-card-content id="{{ key }}">
					<h1 class="md-title">{{ key }}</h1>
					<md-divider></md-divider>
					<p>{{ value }}</p>
				</md-card-content>
			</md-card>
			
		</div>
		
		<homebiscuit-footer></homebiscuit-footer>
		
	</md-content>
</div>
