<div layout-fill>

	<div id="backgroundLayer" layout-fill></div>

	<md-content layout-fill>

		<div id="topLayer" layout-fill layout="column" layout-align="start center">

			<div class="logo"><img ng-src="assets/images/homebiscuit-logo.png" /></div>
			
			<div class="welcome_text" style="text-align: center;">Logging In</div>
			
		</div>

		<homebiscuit-footer></homebiscuit-footer>

	</md-content>
</div>
