<md-dialog aria-label="Checkout" ng-cloak style="width:90%; max-width: 500px">
    <form ng-submit="checkOut()">
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between">
                <h2>Checkout</h2>
                <md-button class="md-icon-button" ng-click="close()">
                    <ng-md-icon icon="close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <md-dialog-content flex>

			<div layout="row" flex="100">
				<!-- <md-button ng-show="!changingDeliveryAddress" class="md-primary md-raised md-hue-1" ng-click="changingDeliveryAddress = true" flex>Change Address</md-button> -->
				<md-input-container flex="100">
					<label>Delivery Address</label>
					<input ng-model="order.address" placeholder="123 Sesame St" required>
				</md-input-container>
			</div>

            <div ng-repeat="(day, orders) in meals track by $index">

                <md-subheader>{{day | date : 'fullDate' }}</md-subheader>

				<md-list>
				
                    <md-list-item ng-repeat="meal in orders track by $index" class="md-3-line">
                        
                        <div class="md-list-item-text" layout="row" layout-align="space-between center">
	                        
	                        <p class="md-avatar" layout-padding>{{ $index + 1 }}</p>

	                        <md-list flex>
		                        <md-list-item ng-if="meal.entree != null" layout="row">
		                            <img class="md-avatar" ng-if="meal.entree.item.image" ng-src="{{ meal.entree.item.image }}" />
		                            <h3>{{ meal.entree.item.name }}</h3>
		                        </md-list-item>
			
		                        <md-list-item ng-if="meal.sides.length" ng-repeat="side in meal.sides track by $index">
	                                <img class="md-avatar" ng-if="side.item.image" ng-src="{{ side.item.image }}" />
	                                <p class="md-caption">{{ side.item.name}}</p>
		                        </md-list-item>
	                        </md-list>
	                        
	                        <h3>${{ getPrice($index + 1) }}</h3>
                        </div>

                        <md-divider ng-if="!$last" />

                    </md-list-item>
				</md-list>
				
				<md-divider ng-if="!$last" />
            </div>
			
        </md-dialog-content>
        
        <md-dialog-actions layout="row" class="md-whiteframe-z2" style="padding-left: 0;" layout="row" layout-wrap>
        	<md-subheader flex="100" style="text-align: center">Order Total: ${{ total }}</md-subheader>
            <md-button type="submit" class="md-primary md-raised" flex>Complete Order</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
