<header>
	
	<md-toolbar class="md-whiteframe-5dp md-accent md-hue-1" layout="row" layout-align="start center" layout-align-sm="space-between center">
	
		<md-icon md-svg-src="assets/images/homebiscuit-logo.svg" ng-click="header.go('home')" style="width: 100px; height: 100px;" hide-md></md-icon>
	
		<section flex layout="row" layout-align="left center" hide-sm layout-align-md="center center">
			<md-button class="md-primary md-hue-4 md-raised" ng-click="header.go('home')">Home</md-button>
			<md-button class="md-primary md-hue-4 md-raised" ng-click="header.go('overview')">Overview</md-button>
			<md-button class="md-primary md-hue-4 md-raised" ng-click="header.go('menu')">Menu</md-button>
			<md-button class="md-primary md-hue-4 md-raised" ng-click="header.go('contact')">Contact</md-button>
			<md-button class="md-primary md-hue-4 md-raised" ng-click="header.go('faq')">FAQ</md-button>
		</section>
	
	
		<md-menu hide show-sm>
			<md-button class="md-fab md-mini md-primary" aria-label="Show menu" ng-click="header.openMenu($mdOpenMenu, $event)"><ng-md-icon icon="menu" size="20" style="width: 20px; margin: 0 auto;" md-menu-origin></ng-md-icon></md-button>
			<md-menu-content width="4">
				<md-menu-item><md-button ng-click="header.go('home')">Home</md-button></md-menu-item>
				<md-menu-item><md-button ng-click="header.go('overview')">Overview</md-button></md-menu-item>
				<md-menu-item><md-button ng-click="header.go('menu')">Menu</md-button></md-menu-item>
				<md-menu-item><md-button ng-click="header.go('contact')">Contact</md-button></md-menu-item>
				<md-menu-item><md-button ng-click="header.go('faq')">FAQ</md-button></md-menu-item>
			</md-menu-content>
		</md-menu>
		
	</md-toolbar>
	
	<!-- User Toolbar -->
	<md-toolbar id="userNavbar" class="md-primary md-hue-1">
		<div class="md-toolbar-tools md-primary" layout="row" layout-align="space-between center">
			<!-- Login Button -->
			<md-button ng-if="!user" class="md-primary" ng-click="header.go('login')" aria-label="Go to login">
				<ng-md-icon icon="login"></ng-md-icon>
				<span class="md-subhead" style="text-transform: none;" layout-margin>Login</span>
			</md-button>
			<div ng-if="user" layout="row">
				<!-- User Profile Button -->
				<md-button class="md-primary" layout="row" ng-click="header.go('user')" aria-label="Go to profile">
					<ng-md-icon icon="account_circle"></ng-md-icon>
					<span class="md-subhead" style="text-transform: none;" layout-margin><span hide-sm>Logged in as</span>{{ user.firstname }}<span hide-sm>{{ user.lastname }}</span></span>
				</md-button>
				<!-- Admin Settings Button -->
				<md-button ng-if="user && user.isAdmin" class="md-primary" layout="row" ng-click="header.go('admin')" aria-label="Go to admin settings">
					<ng-md-icon icon="settings"></ng-md-icon>
					<span class="md-subhead" style="text-transform: none;" hide-sm layout-margin>Admin</span>
				</md-button>
			</div>
			<!-- Logout Button -->
			<md-button ng-if="user" class="md-primary" layout="row" ng-click="logoutUser(header.go('login'))" aria-label="Go to logout">
				<ng-md-icon icon="logout"></ng-md-icon>
				<span class="md-subhead" style="text-transform: none;" hide-sm layout-margin>Logout</span>
			</md-button>
		</div>
	</md-toolbar>
	
</header>
