/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

md-card {
	border-radius: 6px;
}
.logo {
	width: 50%;
	height: auto;
	max-width: 120px;
	margin: 2vh auto;
}
.logo > img {
	width: 100%;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */