<div layout-fill>

    <div id="backgroundLayer" layout-fill></div>

    <md-content layout-fill>

        <div id="topLayer" layout-fill layout="column" layout-align="start center">

            <div class="logo"><img ng-src="assets/images/homebiscuit-logo.png" /></div>

            <!--  <div class="welcome_text" style="text-align: center;">-->
            <!--<acme-malarkey items="['Welcome to HomeBiscuit!', 'Thanks for stopping by!']" />-->
            <!--</div>-->
            <div layout="column" style="width: 90%; max-width: 340px;" layout-margin>
                <md-card>
                    <md-card-content>
                        <h1 class="md-title" style="text-align: center">Login</h1>
                        
                        <form ng-submit="loginUser()" layout="column">
                            <!-- Inputs -->
                            <div layout="row" layout-sm="column" layout-margin layout-align="space-between" flex layout-wrap>
                                <md-input-container flex-gt-sm="100">
                                    <label>Username</label>
                                    <input ng-model="user.username" required>
                                </md-input-container>
                                <md-input-container flex-gt-sm="100">
                                    <label>Password</label>
                                    <input ng-model="user.password" type="password" required>
                                </md-input-container>
                            </div>
                            
                            <md-button type="submit" class="md-primary md-raised" ng-disabled="!user.password || !user.username">Login</md-button>
                    
                            <p ng-show="loginError.length" class="md-caption" style="color: red; text-align: center">{{ loginError }}</p>

                            <md-divider layout-margin></md-divider>
                            
                            <p class="md-caption" style="text-align: center">Don't have an account?</p>
                                                        
                            <md-button class="md-accent md-raised" ng-href="#/register">Register</md-button>
                            
                            <p class="md-caption" style="text-align: center">By signing in, you are agreeing to HomeBiscuit's <a ng-href="#/terms-and-conditions">Terms and Conditions</a> and <a ng-href="#/privacy-policy">Privacy Policy</a>.</p>
                            
                            <!--
                            <md-divider layout-margin></md-divider>
                            
				            <p class="md-caption" style="text-align: center">Other login options:</p>
				            
				            <md-divider layout-margin></md-divider>
				            
        	                <md-button class="md-raised md-warn md-hue-4" ng-href="{{ backend }}/auth/google?success=authorized" flex>Login with Google+</md-button> -->

                        </form>
                    </md-card-content>
                </md-card>
                                
            </div>

        </div>

        <homebiscuit-footer></homebiscuit-footer>

    </md-content>
</div>
