<div layout="vertical">
	
	<md-content layout-fill>
	
		<homebiscuit-header></homebiscuit-header>
	
	    <div class="layout-content" layout-align="center" layout="column">
	
			<md-card>
				<md-card-content layout="column">
			        <img alt="logo image" class="md-card-image" ng-src="assets/images/homebiscuit-logo.png" style="width:25%; margin:10px auto;">
		        	<h1 class="md-title">Contact Us</h1>
		        	<p>If you have a question about our service or perhaps a suggestion on how we can better serve you we would love to hear from you.</p>
		        	<p>
			            <ul class="list-style">
				            <li>HomeBiscuit, LLC</li>
							<li>Mailing Address:</li>
							<li>6688 Nolensville Rd. Ste.111-168</li>
							<li>Call us at:</li>
							<li>615-829-6210</li>
							<li>Email us at:</li>
							<li><a href="mailto:support@homebiscuit.com">support@homebiscuit.com</a></li>
						</ul>
					</p>
					
					<form name="contactForm" flex layout="row" layout-wrap>
						<md-input-container flex>
							<label>Name</label>
							<input ng-model="contact.name">
						</md-input-container>
						
						<md-input-container flex>
							<label>Email</label>
							<input ng-model="contact.email">
						</md-input-container>
						
						<md-input-container flex>
							<label>Subject</label>
							<input ng-model="contact.subject">
						</md-input-container>
						
						<md-input-container flex="100">
							<label>Message</label>
							<textarea md-maxlength="1000" ng-model="contact.message"></textarea>
						</md-input-container>
					</form>
					
					<div class="md-actions" layout-align="end center" layout="row">
						<md-button class="md-primary md-raised" ng-click="submit()">Send</md-button>
					</div>
				</md-card-content>
			</md-card>
		
		</div>
		
		<homebiscuit-footer></homebiscuit-footer>
	
    </md-content>

  </div>
