<div layout="vertical">

    <md-content layout-fill>

        <homebiscuit-header></homebiscuit-header>

        <div layout-sm="column" layout-md="column" layout-wrap layout="row" class="md-whiteframe-5dp">

            <md-card flex>
                <md-card-content layout="column">

                    <!-- Your Order Button -->
                    <div hide-gt-md layout-align="end center" layout="row" style="width: 100%" ng-if="user">
                        <md-button class="md-primary" layout="row" ng-click="openOrderSideNav()">
                            <ng-md-icon class="md-icon" flex icon="chevron_left" size="22"></ng-md-icon>
                            <span>Your Order ( {{ mealCount() }} )</span>
                        </md-button>
                    </div>

                    <!-- Menu -->
                    <div flex>

                        <div ng-repeat="(date, dayItems) in menuItems | groupBy:'date' ">
                            <div flex layout-align="center center" layout="row">
                                <md-subheader class="menu-day-subheader">{{ date |  date : 'fullDate' : 'UTC' }}</md-subheader>
                            </div>

							<div ng-repeat="(type, items) in dayItems | orderBy:'item.type'	| groupBy:'item.type' ">

                                <md-subheader class="md-no-sticky">{{ type.substring(0, 1).toUpperCase() + type.substring(1, type.length) + 's' }}</md-subheader>

                                <md-list layout-margin>

                                    <md-list-item class="menu-item-list-item" layout="row" ng-repeat="menuItem in items | orderBy:'type' " ng-click="addMenuItem(menuItem)">
                                        <img ng-if="menuItem.item.image.length" class="md-avatar" ng-src="{{ menuItem.item.image }}">
                                        <div layout="column" flex>
                                            <span>{{ menuItem.item.name }}</span>
                                            <span class="md-caption md-primary">{{ menuItem.item.description }}</span>
                                        </div>
                                        <md-button ng-if="user" class="md-primary" hide-sm>ADD</md-button>
                                        <md-button ng-if="user" class="md-primary md-icon-button" hide show-sm>+</md-button>
                                    </md-list-item>
                                </md-list>
                            </div>
                            <md-divider ng-if="!$last">
                        </div>
                    </div>

                </md-card-content>

            </md-card>

            <!-- Your Order -->
            <md-sidenav ng-hide ng-show="user" id="orderSideNav" class="md-sidenav-right" layout="column" md-component-id="orderSideNav" md-is-locked-open="$mdMedia('gt-md')" style="overflow-y: hidden">

                <div class="md-whiteframe-z2">

                    <md-button class="md-primary" hide-gt-md layout="row" ng-click="closeOrderSideNav()">
                        <span>Your Order ( {{ mealCount() }} )</span>
                        <ng-md-icon class="md-icon" icon="chevron_right" size="22"></ng-md-icon>
                    </md-button>

                    <!-- Submit Order Button -->
                    <div hide show-gt-md layout="row" layout-align="space-between center">
                        <md-subheader class="md-no-sticky">Your Order ( {{ mealCount() }} )</md-subheader>
                        <md-button flex="30" ng-show="mealCount()" ng-click="showCheckout($event)" class="md-raised md-primary">Continue</md-button>
                    </div>

                </div>

                <div ng-show="mealCount()" style="overflow-y: scroll;">

                    <md-list ng-if="mealCount()" layout-margin style="padding-bottom: 40px;">

                        <div ng-repeat="(day, orders) in meals track by $index">

                            <p class="md-primary md-no-sticky">{{ day | date : 'fullDate' }}</p>

                            <div layout="column" ng-repeat="meal in orders track by $index">

                                <p class="md-no-sticky md-subheader" layout-padding>{{ $index + 1 }}</p>

                                <md-list-item ng-if="meal.entree != null">
                                    <img ng-if="meal.entree.item.image.length" class="md-avatar" ng-src="{{ meal.entree.item.image }}" />
                                    <p>{{ meal.entree.item.name }}</p>
                                    <md-button class="md-accent md-icon-button md-hue-2" ng-click="removeMenuItem(meal.entree, meal)">
                                        <ng-md-icon icon="close"></ng-md-icon>
                                    </md-button>
                                </md-list-item>

                                <md-list ng-if="meal.sides.length">
                                    <p class="md-no-sticky md-subheader">Sides</p>
                                    <md-list-item layout-align="end center" ng-repeat="side in meal.sides track by $index">
                                        <img ng-if="side.item.image.length" class="md-avatar" ng-src="{{ side.item.image }}" />
                                        <p>{{ side.item.name }}</p>
                                        <md-button class="md-accent md-icon-button md-hue-2" ng-click="removeMenuItem(side, meal)">
                                            <ng-md-icon icon="close"></ng-md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>

                                <md-divider />

                            </div>

                        </div>

                    </md-list>

                </div>

                <!-- Submit Order Button -->
                <div class="md-whiteframe-z2" style="position: absolute; bottom: 0; width: 100%; background-color: #fff;" layout="row">
                    <md-button ng-show="mealCount()" ng-click="showCheckout($event)" class="md-raised md-primary" flex>Continue</md-button>
                </div>

                <p class="md-caption" ng-hide="mealCount()" style="text-align: center">There aren't currently any meals in your order.</p>

            </md-sidenav>
        </div>

        <homebiscuit-footer></homebiscuit-footer>

    </md-content>
</div>
