md-sidenav:not(.md-locked-open) {
	position:fixed;
}

md-sidenav.md-locked-open {
	border-left:1px solid rgba(0,0,0,0.1);
}

#orderSideNav:not(.md-locked-open) {
	min-width: 100% !important;
	max-width: 100% !important;
}
.menu-item-list-item * {
	line-height:inherit;
}

.menu-item-list-item span + span {
	color:grey;
}

.menu-day-subheader {
	background-color:transparent;
}

.checkout {
	position:fixed;
	bottom:0;
	width:100%;
	background:#fff;
}