<div layout="vertical">
	
	<md-content layout-fill>
	
		<homebiscuit-header></homebiscuit-header>
		
		<div class="layout-content" layout-align="center" layout="column">
			
			<md-card>
				<md-card-content layout="column">
					<img alt="logo image" class="md-card-image" ng-src="assets/images/homebiscuit-logo.png" style="width: 25%; margin: 10px auto;">
					<h1 class="md-title">
						<acme-malarkey
						items="['Welcome and thank you for considering HomeBiscuit!',
						'We look forward to serving you.']"
						/>
					</h1>
					<p>To get started simply click <a ng-click="state.go('login')">here</a> or select the login button at the top of the page. When you set up your account you will be given several options to choose from.</p>
					
					<md-divider />
					
					<div layout="column">
						
						<h1 class="md-title">Subscriptions</h1>
						
						<div layout-sm="column" layout-wrap layout="row">
							<md-card class="md-whiteframe-4dp" flex ng-repeat="subscription in subscriptions">
								<md-toolbar class="md-primary md-hue-2 md-toolbar-tools">
									<h1 class="md-title">{{ subscription.name }} Member</h1>
								</md-toolbar>
								
								<md-card-content>
									<p>{{ subscription.description.charAt(0).toUpperCase() + subscription.description.slice(1, subscription.description.length) }}</p>
								</md-card-content>
								
								<div class="md-actions" layout-align="center start" layout="row">
									<md-button class="md-raised md-primary">Subscribe</md-button>
								</div>
							</md-card>
						</div>
						
						<md-card class="md-whiteframe-4dp" flex>
							<md-toolbar class="md-primary md-hue-2 md-toolbar-tools">
								<h1 class="md-title">Subscription Free</h1>
							</md-toolbar>
							
							<md-card-content>
								<p>If you are not in the need for weekly service or maybe you would like to send someone a meal as a gift to let them know you are thinking about them.  Feel free to order on demand as needed for $15 per meal*.</p>
							</md-card-content>
							
							<div class="md-actions" layout-align="center start" layout="row">
								<md-button class="md-raised md-primary" ng-href="/#/menu">Order Now</md-button>
							</div>
						</md-card>
						
						<p layout-padding class="md-caption" style="text-align: center">
							*Meal- Includes 1 entree and 2 sides and is portioned to feed 1 adult, approximately 14-16oz. Minimum of two meals required per order.
							<br><br>
							A small $3 delivery fee will be added to each order.  No Tip is needed, making delivery quick and easy.
						</p>
						
					</div>
					
					<div layout="column">
						
						<md-divider />
							
						<md-card class="md-whiteframe-4dp" flex>
							<md-toolbar class="md-accent md-hue-2 md-toolbar-tools">
								<h1 class="md-title">Want to Save Even More?</h1>
							</md-toolbar>
							
							<md-card-content>
								<p>Prepay for 3 months and get an additional 10% off.  That's only $10.80 per meal for Valued Members and $9 per meal for Premium Members.</p>
							</md-card-content>
							
						</md-card>
						
						<md-divider />
						
						<md-card class="md-whiteframe-4dp" flex>
							<md-toolbar class="md-accent md-hue-2 md-toolbar-tools">
								<h1 class="md-title">Earn FREE Meals</h1>
							</md-toolbar>
							
							<md-card-content>
								<p>Simply Share our Service with Friends & Neighbors and earn FREE Meals</p>
							</md-card-content>
							
							<div class="md-actions" layout-align="center center" layout="row">
								<md-button class="md-raised md-accent md-hue-2" ng-href="/#/faq">Learn More</md-button>
							</div>
						</md-card>
																					
					</div>
										
				</md-card-content>
			</md-card>
		</div>

		<homebiscuit-footer></homebiscuit-footer>
		
	</md-content>

</div>
