/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
  background-color: #333;
}
a {
	text-decoration: none;
}
md-content {
	/* background-image: url("/assets/images/gingham-pattern.png"); */
	background-repeat: repeat;
}
md-content > div {
	min-height: 60vh;
}

[layout=row] {
  flex-direction: row;
}
p.md-caption {
	opacity: 0.6;
}
#backgroundLayer + md-content {
	background: none;
}
#backgroundLayer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	background-image: url("/assets/images/chicken.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 0;
	
	filter: blur(10px);
	-webkit-filter: blur(10px);
}
#topLayer {
	width: 100vw;
	min-height: 100vh;
	background-color: rgba(255, 255, 255, 0.75);
	z-index: 2;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;
  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}


/*layout-content style*/
.layout-content {
  max-width: 864px;
  margin: 16px;
  box-sizing: border-box;
  margin: 0 auto;
}


.list-style {
  list-style-type: none;
}

.fix-to-top {
  position: fixed;
  top: 0;
}

.toast-success {
	background-color: #3E4EB8 !important;
}
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
