<div layout="vertical">
	
	<md-content layout-fill>
	
		<homebiscuit-header></homebiscuit-header>
		
		<div class="layout-content" layout-align="center" layout="column">
			
			<md-card>
				<md-card-content layout="column">
					<img alt="logo image" class="md-card-image" ng-src="assets/images/homebiscuit-logo.png" style="width: 25%; margin: 10px auto;">
					
					<h1 class="md-title">Privacy Policy</h1>
					
					<p>HomeBiscuit, LLC. (“Company”) reserves the right to revise this Privacy Policy at any time simply by posting such revision, so we encourage you to review it periodically. In order to track any changes to this Privacy Policy, we will include a historical reference at the top of this document.
						<br><br>
						This Privacy Policy will tell you, among other things:
						<ul>
							<li>How we collect personal information and what personal information we collect</li>
							<li>How we may use personal information</li>
							<li>To whom do we disclose personal information</li>
							<li>Your choices regarding the disclosure of personal information How to contact us</li>
						</ul>
					</p>
					
					<h3>CONSENT</h3>
					<p><b>BY USING OUR WEBSITE OR SUBMITTING PERSONAL INFORMATION TO US, YOU CONSENT TO THE COMPANY’S COLLECTION, USE AND DISCLOSURE OF SUCH PERSONAL INFORMATION IN ACCORDANCE WITH THIS PRIVACY POLICY (AS AMENDED FROM TIME TO TIME), THE PRIVACY PREFERENCES YOU HAVE MADE KNOWN TO US AND AS PERMITTED OR REQUIRED BY LAW. If you do not agree with the terms of this Privacy Policy, do not provide us with any personal information or use any of the products or services offered or provided on Company websites or through Company technology.</b>
						<br>
						You can withdraw your consent at any time by following the instructions described below in How to Contact Us</p>
					
					<h3>AGE AND UNITED STATES OF AMERICA RESIDENCY REQUIREMENTS</h3>
					<p>Company websites are not intended for use by individuals under the age of 18 or those who are not legal residents of USA. If you are not 18 years of age or older and a valid resident of USA, do not provide us with any personal information or use any of the products or services offered or provided on Company websites or through Company technology.</p>
					
					<h3>HOW DO WE COLLECT PERSONAL INFORMATION AND WHAT PERSONAL INFORMATION DO WE COLLECT?</h3>
					<p>We collect and combine your personal information through various sources, including those discussed below. More specifically, the personal information we collect includes personally identifiable information (“PII”) and non-personally identifiable information (“Non-PII”). For your reference, PII is data collected with an intention to specifically identify, contact or locate a person, including but not limited to name, address, telephone number, or e-mail address. Conversely, Non-PII is data that is not used to specifically identify, contact or locate an individual, including but not limited to postal code, gender, age, or IP address.</p>
					<md-list>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Website Registration Forms</h3>
								<p>We collect personal information about you when you register on one of our websites. This registration information may include, but is not limited to your:
									<ul>
										<li>e-mail address</li>
										<li>name</li>
										<li>mailing address</li>
										<li>telephone number</li>
									</ul>
								</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Offer Forms</h3>
								<p>We also collect personal information about you when you complete a survey or offer form on one of our websites or web pages. This information may include, but is not limited to: your e-mail address, name, mailing address, telephone number, payment information; information about your shopping preferences; and any other personal information or unique preference information you provide to us.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Marketing Partners</h3>
								<p>We may receive personal information about you, including but not limited to your e- mail address, first name, last name, mailing address, and telephone number, from third party marketing partners that provide us with consumer data to manage on their behalf.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Automatic Information/Digital Identifiers</h3>
								<p>We may automatically receive and store certain types of personal information about you through the data sources listed above.
									<br><br>
									You may be familiar with the term “cookies,” which are unique alphanumeric identifiers that store information on your computer. A cookie is placed on your computer when your web browser accesses our website. We use cookies for tracking transactions and the user characteristics explained in detail throughout this Privacy Policy. If you choose, there are utilities available for purchase from independent software providers to install on your computer as well as tools/preferences you can choose through most web browsers to make website visits anonymous. Of course, cookies let you have a more satisfying website experience, so we recommend that you leave them turned on.
									<br><br>
									We also collect personal information through our web server applications. This information includes your Internet Protocol or “IP” address, date/time stamp, browser type, and referring URL.
									<br><br>
									Additionally, we may use pixel tracking technology to track the completion of transactions with us or our advertisers, the source information for those transactions, and your IP address, date/time stamp, browser type, and referring URL.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Government Forms</h3>
								<p>The Company may be required to create, collect, maintain, and submit certain personal information required by the government. This information will not be used, disclosed, transferred, or sold for marketing purposes.</p>
							</div>
						</md-list-item>
					</md-list>
					
					<h3>HOW DO WE USE THIS PERSONAL INFORMATION?</h3>
					<p>We may use the collected PII and Non-PII for the purposes described below.</p>
					<md-list>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Pre-select/Pre-fill Offers</h3>
								<p>Our website technology may pre-select certain offers for you to view based on the demographic and geographic information you submitted to the Company during the website registration process. Additionally, this technology may pre-fill some or all of the offers’ data fields with the information you submitted during the website registration process. We may not show all of the pre-filled data fields to you.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Customer Service and Fulfillment</h3>
								<p>We may use your information to service your account, verify your identity or claimed account status, and to process orders through Company websites.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Credit Card Processing</h3>
								<p>By submitting your credit card information to us, you are authorizing the Company or its agent to periodically verify that your credit card account is valid and has credit available, and authorize the company to process your payment for services rendered.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Marketing</h3>
								<p>We may use your personal information in our online (e.g., e-mail marketing) and offline (e.g., telemarketing, cell phone text messaging, skip tracing, and direct mail) marketing programs. If you would like to be removed from these programs, contact us to opt-out.</p>
							</div>
						</md-list-item>
					</md-list>
						
					<h3>TO WHOM DO WE DISCLOSE PERSONAL INFORMATION?</h3>
					<p>We may disclose the collected PII and Non-PII for any legally permissible purpose in our sole discretion, including but not limited to those explained below.</p>
					<md-list>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Within the Company</h3>
								<p>We may share information we collect with affiliated companies such as the caterers we contract with. This Privacy Policy does not apply to affiliated companies and their collection, use and sharing of information. With respect to online behavioral advertising, certain affiliated companies may use non-personally identifiable information (which may or may not include click stream information, browser type, time and date, subject of advertisements clicked or scrolled over) collected during your visits to this and other websites in order to provide advertisements about goods and services likely to be of greater interest to you. These companies typically use a cookie or third party web beacon to collect this information.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Marketing Partners</h3>
								<p>We may disclose your personal information to third parties for various marketing purposes, including our online (e.g., e-mail marketing) and offline (e.g., telemarketing, cell phone text messaging, skip tracing, and direct mail) marketing programs. If you would like to be removed from these programs, contact us to opt- out.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Data Enhancement/Appending/Validation</h3>
								<p>We may use third party service providers to enhance our database with additional elements, including but not limited to age ranges present in your household, whether you own or rent a home, the length of time you have lived at your residence, whether you are a mail order buyer or responder, household income, and gender. Further, we may use third party service providers to append telephone numbers to other data points we have in our database. We also may use third party service providers to validate the data we have in our database.
									<br>
									Additionally, we may disclose your personal information to third parties for use in their data validation, enhancement, information verification services, and, to the extent permitted by law, individual reference or look-up services.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Governmental Agencies or Other Companies</h3>
								<p>We may disclose your personal information with law enforcement officials or governmental agencies: (1) in response to their request; (2) when permitted or required by law; or (3) to establish our compliance with applicable laws, rules, regulations, or guidelines.
									<br>
									We will disclose your personal information to our marketing partners and our service provider if you decide to be removed from the marketing programs.
									<br>
									We also may disclose your personal information with third parties when: (1) trying to protect against or prevent actual or potential fraud or unauthorized transactions; (2) investigating fraud that has already taken place; (3) enforcing or applying existing terms and conditions and/or other agreements; (4) protecting the rights, property or safety of our websites, our users or others; or (5) responding to subpoenas, court orders or legal process, or to establish or exercise our legal rights or defend against legal claims.
									<br>
									In all cases, your personal information is not provided to these entities or persons for marketing purposes.</p>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line md-long-text">
							<div class="md-list-item-text">
								<h3>Right to Transfer</h3>
								<p>Should the Company choose to sell or transfer all or part of its business assets, it is possible that the personal information we possess may be transferred as part of that transaction. The Company may decide to retain a copy of the information post sale or transfer.</p>
							</div>
						</md-list-item>
					</md-list>
					
					<h3>COMPANY CUSTOMER CHOICES</h3>
					<p>By completing and submitting a Company registration form, you are consenting to receive marketing communications from the Company and its third party marketing partners. If, after you have shared your personal information with the Company, you decide that you do not want to receive marketing communications from the Company and its third party marketing partners, you can discontinue the communications by contacting us with an email with subject "unsubscribe". You are not required to send opt-out requests to our marketing partners and service providers. If you have registered or submitted information under more than one e-mail account, you must submit separate unsubscribe requests for each account.</p>
					
					<h3>HOW TO CONTACT US</h3>
					<p>You should advise us if you believe that your personal information is inaccurate. You have the right to ask for it to be corrected or updated. We may ask you to provide documentation to support your request for correction or updating.
						<br>
						As it relates to marketing communications or any other questions you might have about our Privacy Policy or collection, use or disclosure practices of Company, click our contact us tab, or mail to us at 6688 Nolensville Rd. Ste. 108-168., Brentwood, TN 37027.</p>
						
					<h3>WHAT HAPPENS IF I HIT A LINK TO ANOTHER SITE FROM A COMPANY WEBSITE?</h3>
					<p>Our websites may offer links to other websites. Other websites have their own terms of use and privacy and security policies. If you choose to visit one of these sites, you should review the policies that govern that particular site. Company is not responsible for and has no control over those other websites or their collection, use or disclosure of your personal information.</p>
					
					<h3>APPLICATION OF THIS PRIVACY POLICY</h3>
					<p>This Privacy Policy applies to all personal information collected by or submitted to the Company. Other affiliated entities of the Company may obtain information independently from transactions and experiences with you or from other sources. This Privacy Policy does not pertain to that information.</p>
					
					<h3>SECURITY</h3>
					<p>There is no such thing as complete security on the Internet or otherwise. The Company uses various security techniques on our websites to help protect against the loss, misuse or modification of information we’ve collected from you. When you access your personal information or transmit information to us, that information is stored on servers that we have taken steps to protect from unauthorized access or intrusion. While we strive to protect your information, the Company cannot ensure or warrant the security of any information you transmit to us. You acknowledge and assume this risk when communicating with the Company, and all individuals and companies involved in the execution and delivery of the product for which you have contracted.</p>
					
					<h3>LIMITATION OF LIABILITY</h3>
					<p>YOU UNDERSTAND AND AGREE THAT ANY DISPUTE OVER PRIVACY IS SUBJECT TO THE TERMS AND CONDITIONS OF THIS PRIVACY POLICY, AS WELL AS THE TERMS AND CONDITIONS OF THIS WEBSITE (INCLUDING LIMITATION OF LIABILITY). YOU AGREE THAT THE COMPANY’S LIABILITY FOR ANY BREACH OF THIS PRIVACY POLICY SHALL BE LIMITED TO THE VALUE OF THE TRANSACTIONS OR SERVICES PROVIDED TO YOU BY THE COMPANY TO THE EXTENT SUCH CLAIM IS NOT OTHERWISE BARRED BY OUR TERMS AND CONDITIONS.</p>
					
					<h3>INTERPRETATION</h3>
					<p>Should there be, in a specific case, any inconsistency between this Privacy Policy and United States of America federal and state privacy laws, as applicable, this Privacy Policy shall be interpreted, in respect of that case, to give effect to, and comply with, such privacy laws.</p>
					
					<md-divider layout-padding layout-margin></md-divider>
					
					<h1 class="md-title">Membership Plan Cancellation Policy</h1>
					<h3>How do I cancel my service?</h3>
					<p><i>Please choose one of the following options to contact us:</i></p>
					<md-list>
						<md-list-item class="md-1-line">
							<div class="md-list-item-text">
								<p><b>Login</b> to <a href="/">www.HomeBiscuit.com</a> and visit the “Contact” page</p>
							</div>
						</md-list-item>
						<md-list-item class="md-1-line">
							<div class="md-list-item-text">
								<p><b>Email</b> us at <a href="mailto:support@homebiscuit.com">support@HomeBiscuit.com</a></p>
							</div>
						</md-list-item>
						<md-list-item class="md-1-line">
							<div class="md-list-item-text">
								<p><b>Write</b> to us at HomeBiscuit, 6688 Nolensville Rd., Ste 108-168, Brentwood, TN 37027</p>
							</div>
						</md-list-item>
					</md-list>
					<p>Attention: Membership Plan Cancellations
						<br>
						Note that drivers cannot process cancellation requests.</p>
						
					<h3>Please include the following information when you contact us to cancel:</h3>
					<ul>
						<li>Your name and contact information (address, telephone number and email address)</li>
						<li>Reason for cancellation</li>
						<li>If entitled to a refund, please mail us any additional items as described below</li>
					</ul>
					
					<h3><i>When does cancellation take effect?</i></h3>
					<p>Your Membership Plan is effective for a four week period. Each four week period is called a service month.
						<br>
						Unless a special refund circumstance applies to you (see below), we’ll process your cancellation as follows:
						<br>
						If you cancel within 5 or more business days before the end of any service month, your cancellation will be effective on the end date of that period and you will receive deliveries until then.
						<br>
						If you cancel less than 5 business days prior to the end of your service month, since you may have already been billed for your next service month, HomeBiscuit would have committed to inventory levels and resources. In that case, your cancellation will be effective as of the end of your next service month. If you would like a refund for that month, please see below.
						<br>
						To obtain a refund, first follow the directions stated above.
						<br>
						Refunds are based on service months and are not prorated.
						<br>
						Refunds are processed as follows (except in special refund circumstances):</p>
						
					<h3><i>You would be entitled to a refund if one of the following applies to you:</i></h3>  
					<p>We are unable to deliver to you due to change of delivery zones or construction.
						<br>You cancel your meal plan within 5 or more business days of your next service month (or within such other period as required by law).
						<br>
						You have a medical reason that prevents you from continuing service or you need to end deliveries due to death or disability.
						<br>
						You move outside of a delivery zone of a participating location, or if your location closes and there is no participating location that can serve you.
						<br>
						If you are cancelling due to a special circumstance and would like to be considered for a refund, write to us at the address above or send us an email at <a href="mailto:support@homebiscuit.com">support@homebiscuit.com</a>.
						<br>
						The Membership Plan Cancellation Policy may be modified at any time.</p>
						
					<h3>Food Allergy Disclaimer</h3>
					<p>HomeBiscuit and its affiliated Caterers makes every attempt to identify ingredients that may cause allergic reactions for those with food allergies. Every effort is made to instruct our food production staff on the severity of food allergies. In addition, we label items with possible allergen-containing ingredients; however, there is always a risk of contamination. There is also a possibility that manufacturers of the commercial foods we use could change the formulation at any time, without notice. Customers concerned with food allergies need to be aware of this risk.
						<br><br>
						Please be aware that our facility prepares foods and uses ingredients in our products that contain nuts or nut oil. If you have any type of food allergy, please refrain from eating our products.</p>
						
					<h3>Special Diets Policy</h3>
					<p>It is typically not possible for our kitchens to provide specific menu items for special diets. Again, if you have any type of food allergy, please refrain from eating our products.</p>
 
				</md-card-content>
			</md-card>
		</div>

		<homebiscuit-footer></homebiscuit-footer>
		
	</md-content>

</div>
