<div layout="vertical">

    <md-content layout-fill>

        <homebiscuit-header></homebiscuit-header>

        <div class="layout-content" layout="column">

            <md-card>
                <md-card-content layout="column">

                    <!-- Menu Configuration -->
                    <md-tabs md-dynamic-height md-border-bottom>

                        <md-tab label="User Orders">
                            <md-content>
                                <div layout="column">
                                    <div layout="row" layout-align="space-around" layout-wrap>
                                        <div layout="row" layout-align="center center" flex-sm="100">
                                            <p class="md-caption">Start Date:</p>
                                            <md-datepicker ng-model="userOrdersStartDate" md-placeholder="Select date"></md-datepicker>
                                        </div>
                                        <div layout="row" layout-align="center center" flex-sm="100">
                                            <p class="md-caption">End Date:</p>
                                            <md-datepicker ng-model="userOrdersEndDate" md-placeholder="Select date" md-min-date="userOrdersMinEndDate"></md-datepicker>
                                        </div>
                                    </div>

                                    <md-divider layout-margin />


                                    <div>

                                        <md-list ng-repeat="(day, dayOrders) in groupedOrders ">
                                            {{day}}
                                            <md-list-item ng-repeat="order in dayOrders | orderBy:'-delivered' track by $index" layout-align="start start" layout="row" layout-wrap>

                                                <div layout="column" flex layout-margin layout-padding>
                                                    <md-list class="md-primary" flex="100">
                                                        <md-list-item class="md-3-line">
                                                            <md-button class="md-fab md-raised md-primary md-mini" style="cursor: default; opacity: 0.3">{{ $index + 1 }}</md-button>
                                                            <div class="md-list-item-text">
                                                                <h3><a href="http://maps.google.com/?q={{  order.user.address + ' ' + order.user.street + ' ' + order.user.city + ' ' + order.user.state + ' ' + order.user.zip}}">
																		{{ order.user.firstname }} {{ order.user.lastname }}
																</a></h3>
                                                                <p> {{order.address}}</p>
                                                                <p>{{ order.user.street }}</p>
                                                                <p>{{ order.user.city }}, {{ order.user.state }} {{ order.user.zip }}</p>
                                                            </div>
                                                        </md-list-item>
                                                    </md-list>
                                                    <md-card flex>
                                                        <md-card-content>
															<p><a href="http://maps.google.com/?q={{ order.address }}"> Deliver to :  {{order.address}}</a></p>
                                                            <md-list layout="row" layout-wrap>
                                                                <md-list-item ng-repeat="meal in order.items track by $index">
                                                                    <md-list>
                                                                        <md-list-item class="md-3-line">
                                                                            <img ng-if="meal.entree.item.image.length" ng-src="{{ meal.entree.item.image }}" class="md-avatar">
                                                                            <div class="md-list-item-text">
                                                                                <h3>{{ meal.entree.item.name }}</h3>
                                                                                <p>{{ meal.side1.item.name }}</p>
                                                                                <p>{{ meal.side2.item.name }}</p>
                                                                            </div>
                                                                        </md-list-item>
                                                                    </md-list>

                                                                </md-list-item>
                                                            </md-list>

                                                            <div layout="row" flex layout-align="end end">
                                                                <md-button class="md-primary md-raised" ng-click="markOrderDelivered(order)" ng-if="!order.delivered">Mark As Delivered</md-button>
                                                                <md-button class="md-primary md-raised" ng-if="order.delivered" disabled>Delivered</md-button>
                                                            </div>
                                                        </md-card-content>
                                                    </md-card>
                                                </div>

                                                <md-divider ng-if="!$last" layout-margin></md-divider>

                                            </md-list-item>

                                        </md-list>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>

                        <md-tab label="Menu Configuration">
                            <md-content>
                                <div layout="column" flex>
                                    <div layout-align="center" layout="row">
                                        <md-datepicker ng-model="menuConfigurationSelectedDate" md-placeholder="Select date" md-min-date="minDate"></md-datepicker>
                                    </div>

                                    <md-divider layout-margin />

                                    <div layout="column">
	                                    
	                                    <div flex layout-align="space-between center" layout="row" layout-wrap layout-align-sm="center">
		                                
			                                <!-- Search -->
		                                    <md-input-container>
		                                    	<label>Search Menu</label>
		                                        <input type="text" ng-model="menuSearchCriteria">
		                                    </md-input-container>
			                                    
			                                <div>
				                                <md-checkbox class="md-primary md-caption" ng-model="shouldShowHiddenMenuItems">Show Hidden</md-checkbox>
			                                </div>
			                                
	                                    </div>
                                        <div flex layout="column">
                                            <div ng-repeat="(type, items) in availableMenuItems | groupBy:'type'">
                                                <p class="md-caption">{{ type.substring(0, 1).toUpperCase() + type.substring(1, type.length) + 's' }}</p>
                                                <md-list layout="row" layout-wrap>
                                                    <md-list-item class="md-2-line" ng-repeat="item in items | orderBy:'name' | filter: menuFilter" layout="row" layout-align="center center" flex-sm="100" flex-gt-sm="50" ng-click="toggleExistenceInSelectedMenu(item)">
                                                        	<img class="md-avatar" ng-src="{{ item.image }}" ng-if="item.image">
                                                        	<div class="md-list-item-text" layout="column">
                                                           	 <h3>{{ item.name }}</h3>
                                                           	 <p>{{ item.description }}</p>
                                                        	</div>
															<md-checkbox class="md-primary md-secondary" ng-checked="item.isAvailableOnSelectedDate"></md-checkbox>
                                                    </md-list-item>
                                                </md-list>
                                            </div>
                                        </div>

                                        <!-- Edit Menu Items -->
                                        <div layout="row" ng-show="menuHasBeenEdited" layout-padding flex layout-align="end">
                                            <md-button class="md-accent md-raised" ng-click="getMenu()">Discard Changes</md-button>
                                            <md-button class="md-primary md-raised" ng-click="submitMenu()">Save Menu</md-button>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>

                        <md-tab label="Menu Items">
                            <md-content>
                                <div flex>
                                    <md-button class="md-primary" flex-sm ng-click="addMenuItem()" ng-disabled="newMenuItem">Add Menu Item</md-button>

                                    <!-- No menu items label -->
                                    <div layout="row" layout-align="center" ng-hide="editedMenuItems.length || newMenuItem">
                                        <p class="md-caption" style="text-align: center">There are currently no items in the menu.</p>
                                    </div>

                                    <div ng-show="newMenuItem">
                                        <md-subheader>New Menu Item</md-subheader>
                                        <md-card layout="row" flex="100">
                                            <md-card-content layout="row" layout-wrap>
                                                <md-input-container flex flex-gt-sm="20">
                                                    <label>Type</label>
                                                    <md-select ng-model="newMenuItem.type">
                                                        <md-option value="entree" ng-selected="newMenuItem.type === 'entree'">Entree</md-option>
                                                        <md-option value="side" ng-selected="newMenuItem.type === 'side'">Side</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container flex flex-gt-sm="40">
                                                    <label>Item Name</label>
                                                    <input ng-model="newMenuItem.name" max-length="100">
                                                </md-input-container>
                                                <md-input-container flex flex-gt-sm="40">
                                                    <label>Image URL</label>
                                                    <input ng-model="newMenuItem.image">
                                                </md-input-container>
                                                <md-input-container flex flex-gt-sm="100">
                                                    <label>Description</label>
                                                    <input ng-model="newMenuItem.description" maxlength="255">
                                                </md-input-container>
                                                <div flex="100" layout="row" layout-align="center">
                                                    <md-button class="md-warn" ng-click="newMenuItem = null">Remove</md-button>
                                                    <md-button class="md-primary" ng-disabled="!(newMenuItem.name.length && newMenuItem.type.length)" ng-click="confirmMenuItem()">Confirm</md-button>
                                                </div>
                                            </md-card-content>
                                        </md-card>

                                        <br>
                                        <md-divider layout-padding />

                                    </div>

                                    <div layout="column">
	                                    <md-subheader>Existing Menu Items</md-subheader>
	                                    
	                                    <div layout="row" layout-align="center" flex>
		                                    <md-input-container>
		                                    	<label>Search Menu Items</label>
		                                        <input type="text" ng-model="menuItemSearchCriteria">
		                                    </md-input-container>
	                                    </div>

                                        <md-card layout="row" ng-repeat="item in editedMenuItems | orderBy: 'name' | filter: menuItemFilter" flex="100">
                                            <md-card-content layout="row" layout-wrap>
                                                <md-input-container flex-sm="100" flex-gt-sm="20">
                                                    <label>Type</label>
                                                    <md-select ng-model="item.type">
                                                        <md-option value="entree" ng-selected="item.type === 'entree'">Entree</md-option>
                                                        <md-option value="side" ng-selected="item.type === 'side'">Side</md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container flex-sm="100" flex-gt-sm="40">
                                                    <label>Item Name</label>
                                                    <input ng-model="item.name" max-length="100">
                                                </md-input-container>
                                                <md-input-container flex-sm="100" flex-gt-sm="40">
                                                    <label>Image URL</label>
                                                    <input ng-model="item.image">
                                                </md-input-container>
                                                <md-input-container flex-sm="100" flex-gt-sm="100">
                                                    <label>Description</label>
                                                    <input ng-model="item.description" maxlength="255">
                                                </md-input-container>
                                                <div flex="100" layout="row" layout-align="end end">
													<md-checkbox class="md-accent md-hue-2" ng-model="item.hidden" ng-click="didToggleMenuItem()">Hidden</md-checkbox>
                                                </div>
                                            </md-card-content>
                                        </md-card>

                                        <br>
                                        <md-divider layout-padding />

                                    </div>

                                    <div flex="100" layout-align="space-between" layout="row" layout-wrap>
                                        <md-button class="md-primary" flex-sm ng-click="addMenuItem()" ng-disabled="newMenuItem">Add Menu Item</md-button>
                                        <div flex-sm layout="row">
                                            <md-button class="md-accent md-raised" ng-click="getMenuItems()" ng-disabled="!menuItemsHaveBeenEdited">Cancel</md-button>
                                            <md-button class="md-primary md-raised" ng-click="submitEditedMenuItems()" ng-disabled="!editedMenuItemsAreValid() || !menuItemsHaveBeenEdited" type="submit">Save Changes</md-button>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>

                </md-card-content>

            </md-card>

        </div>

        <homebiscuit-footer></homebiscuit-footer>

    </md-content>
</div>
