<div layout="vertical">

    <md-content layout-fill>

        <homebiscuit-header></homebiscuit-header>

        <div class="layout-content" layout="column">

            <md-card>
                <md-card-content layout="column">

                    <div layout="row" layout-sm="column" layout-align="center center" flex layout-padding>
                        <div style="min-width: 120px; min-height: 120px;" flex-sm>
                            <ng-md-icon icon="account_circle" size="120" style="color: #aaa"></ng-md-icon>
                        </div>
                        <div layout="column" layout-margin flex-gt-sm layout-align-sm="start center">
                            <span class="md-title">{{ user.firstname || 'Current' }} {{ user.lastname || 'User' }}</span>
                            <span class="md-caption">Referral Code: {{ user.referral || 'current1234' }}</span>
                            <span class="md-caption">Referral Link: <a href="{{getReferLink(user.referral)}}">{{ getReferLink(user.referral)}}</span>
                        </div>
                        <md-button ng-hide="isEditingProfile" class="md-raised md-primary" ng-click="editProfile()">Edit Profile</md-button>
                        <div ng-show="isEditingProfile">
                            <md-button class="md-raised md-accent" ng-click="cancelEditProfile()">Cancel</md-button>
                            <md-button class="md-raised md-primary" ng-click="saveProfileChanges()">Save Changes</md-button>
                        </div>
                    </div>

                    <md-divider />
                    <div flex layout="column">


                        <h1 class="md-subhead">Payment Information</h1>
                        <md-list>
                            <md-list-item ng-repeat="card in creditCards" layout="row">
                                <div style="width: 50px;" layout-margin><img ng-src="{{ card.imageUrl }}" /></div>
                                <div class="md-list-item-text" layout="row">
                                    <p layout-margin>************{{ card.last4 }}</p>
                                    <md-button class="md-primary" layout-margin>Remove</md-button>
                                </div>
                        </md-list>
                        </md-list>
                    </div>

                    <!-- Subscription Settings -->
                    <div flex layout="column">
                        <h1 class="md-subhead">Your Subscription</h1>
                        <div layout-align="start center" layout="column" flex-gt-md="70">
                            <md-card flex ng-hide="isEditingProfile">
                                <md-toolbar class="md-primary md-hue-2 md-toolbar-tools">
                                    <h1 class="md-title">{{ user.subscription.name || 'None' }}</h1>
                                </md-toolbar>

                                <md-card-content>
                                    <p>{{ user.subscription.description || 'Order as needed. No monthly charge.' }}</p>
                                </md-card-content>
                            </md-card>
                            <md-input-container flex ng-hide="!isEditingProfile">
                                <label>Select Subscription</label>
                                <md-select ng-model="editedSubscription">
                                    <md-option ng-value="None" ng-selected="user.planId">None</md-option>
                                    <md-option ng-repeat="subscription in subscriptions" ng-value="subscription" ng-selected="(subscription.name == user.subscription.name)">{{ subscription.name }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <p class="md-caption" style="text-align: center" ng-hide="!isEditingProfile">Subscription changes will take place after the current billing cycle.</p>
                    </div>

                    <md-divider />

                    <!-- Address Settings -->
                    <div flex layout="column">
                        <h1 class="md-subhead">Your Address</h1>
                        <div layout="row" layout-sm="column" layout-margin layout-align="space-between" flex layout-wrap ng-hide="isEditingProfile">
                            <div layout-margin>
                                <p class="md-caption">Street Address</p>
                                <p>{{ user.street || '123 Sesame St' }}</p>
                            </div>
                            <div layout-margin>
                                <p class="md-caption">City</p>
                                <p>{{ user.city || 'Lafayette' }}</p>
                            </div>
                            <div layout-margin>
                                <p class="md-caption">State</p>
                                <p>{{ user.state || 'Louisiana' }}</p>
                            </div>
                            <div layout-margin>
                                <p class="md-caption">Zip Code</p>
                                <p>{{ user.zip || '12345' }}</p>
                            </div>
                        </div>


                        <!-- Editing -->
                        <div layout="row" layout-sm="column" layout-margin layout-align="space-between" flex layout-wrap ng-show="isEditingProfile">
                            <md-input-container flex-gt-sm="25">
                                <label class="md-caption">Street Address</label>
                                <input ng-model="user.street">
                            </md-input-container>
                            <md-input-container flex-gt-sm="25">
                                <label class="md-caption">City</label>
                                <input ng-model="user.city">
                            </md-input-container>
                            <md-input-container flex-gt-sm="25">
                                <label class="md-caption">State</label>
                                <input ng-model="user.state">
                            </md-input-container>
                            <md-input-container flex-gt-sm="25">
                                <label class="md-caption">Zip Code</label>
                                <input ng-model="user.zip">
                            </md-input-container>
                        </div>
                    </div>

                </md-card-content>

            </md-card>

        </div>

        <homebiscuit-footer></homebiscuit-footer>

    </md-content>
</div>
