.footer-social-buttons-container {
	margin: 5vh 0 2vh;
}
.footer-social-buttons-container > div[fb-like] > .fb-like > span {
	/* This fixes a stupid positioning problem with the Facebook button */
	vertical-align: top !important;
}
.footer-social-buttons-container > div[google-plus] {
	max-width: 60px;
}