<footer>
	<md-toolbar class="md-hue-2" layout="row" layout-align="center center" layout-padding="5" layout-wrap>

		<div class="footer-social-buttons-container" layout="row" layout-sm="column" layout-align="center center" layout-align-sm="center center">
			<div fb-like layout-margin></div>
			<div tweet="model.Name" layout-margin></div>
			<div google-plus layout-margin></div>
		</div>
		
		<div layout="row" layout-wrap layout-align="space-between" layout-align-sm="center" flex="100">
			<div layout-margin layout="row" layout-sm="column" layout-align-sm="center">
				<a class="md-caption" ng-href="#/terms-and-conditions" style="color: white; text-align: center">Terms & Conditions</a>
				<a class="md-caption" ng-href="#/privacy-policy" style="color: white; text-align: center">Privacy Policy</a>
			</div>
			<div layout-margin>
				<a class="md-caption" flex-sm>Copyright © HomeBiscuit</a>
			</div>
		</div>
		
	</md-toolbar>
</footer>