<div layout="vertical">
	
	<md-content layout-fill>
	
		<homebiscuit-header></homebiscuit-header>
		
		<div class="layout-content" layout-align="center" layout="column">
			
			<md-card>
				<md-card-content layout="column" layout-margin>
					<img alt="logo image" class="md-card-image" ng-src="assets/images/homebiscuit-logo.png" style="width: 25%; margin: 10px auto;">
					<h1 class="md-title">Terms and Conditions</h1>
					
					<section>
						<h3>Membership Plan Advance Purchase Agreement</h3>
						<p>PLEASE READ THE FOLLOWING TERMS AND CONDITIONS RELATING TO YOUR ACCESS TO AND/OR USE OF MEMBERSHIP PLAN SERVICE CAREFULLY.</p>
						
						<h3>1. Scope of Agreement</h3>
						<p>Unless otherwise indicated, this Advance Purchase Agreement (“Agreement”) applies to (i) your meal preparation and delivery service (‘Membership Plan”) and (ii) your use of and/or access to the HomeBiscuit.com website, including any portions thereof available only to clients. Communications concerning orders and plans should be sent to HomeBiscuit, LLC 6688 Nolensville Rd. Ste 108-168, Brentwood, TN 37027.
							<br><br>
							Your use of the Website will also be subject to your agreement to the terms and conditions provided on the Website (the “Privacy Policy / Your Privacy Rights”), which can be found at <a href="/#/privacy-policy">www.homebiscuit.com/privacy-policy</a>.</p>
							
						<h3>2. Binding Agreement</h3>
						<p>We reserve the right, in our sole discretion, to change, add or remove provisions of this Agreement at any time. You should check this Agreement periodically for changes – you may find it through the "Advance Purchase Agreement" link at the bottom of each page on our Website. By using the Website or accepting a Membership Plan, including after any changes are posted to this Agreement or you are otherwise notified of such changes, you agree to this Agreement and accept those changes, whether or not you have reviewed them. If you do not agree to this Agreement, you should not accept a Membership Plan use or access the Website and you should cancel your agreement.</p>
						
						<h3>3. Your Purchase</h3>
						<p>Unless otherwise specified, we grant you a non-exclusive, non-transferable, limited right to receive a Membership Plan and access, use and display the Website and the material provided thereon, for your personal, non-commercial use, provided that you comply fully with the provisions of this Agreement. You agree not to assign, transfer or sublicense your rights as a client. You agree to be financially responsible for your purchase.
							<br><br>
							If you do not comply with this Agreement at any time, we reserve the right to cancel or terminate your Membership Plan delivery service and access to the Website (or any part thereof) without prior notice. In our sole discretion and without prior notice or liability, we may discontinue or modify any aspect of the Membership Plans, delivery options or the Website, including, but not limited to, (i) restricting the time and days deliveries are available, (ii) restricting the amount of use and/or access permitted, and (iii) restricting or terminating anyone's right to use and/or access one of the Membership Plans delivery service and/or the Website.
							<br><br>
							Further, you agree that we shall not be liable to you or any third party for any termination or cancellation of your access to or use of the Membership Plans and/or the Website, except for a refund of any prepaid fees or charges in accordance with Section 6 of this Agreement.</p>
							
						<h3>3.5 Auto Chef</h3>
						<p>By enrolling in one of our Membership Plans you also agree to receive our Auto Chef service, which ensures you and family never miss a meal. In the event you fail to place an order as an active client you agree to allow us to deliver a meal comparable to one of your previous orders. The meal will be selected from your order history. In the event one of the current menu items is not in your order history, then a chef will select an menu item for you.</p>
						
						<h3>4. Charges and Fees</h3>
						<p>As a client, you are charged a monthly (or other periodic) fee as set forth on your order in advance for the Membership Plan ordered. You agree to pay, using a valid credit card (or other form of payment which we may accept from time to time), such fees, applicable taxes, and other charges and fees incurred as described on the Website for your Membership Plan. Any additional meals ordered in conjunction with your Membership Plan will be charged on the next billing cycle. All individuals and companies involved in the execution and delivery of the product for which you have contracted reserve the right to increase costs, or to institute new fees at any time, upon advance notice communicated to you through a posting on the Website or such other means as all individuals and companies involved for which you have contracted may deem appropriate (including email or conventional mail).
							<br><br>
							<b>After your payment for your initial billing period, we will automatically charge your credit card (or other account, if applicable) up to 10 days prior to the start of each subsequent period, unless you have cancelled your meal plan program before you are charged for the relevant billing period.</b> The subsequent charge will be the same as the prior period's charge per meal being purchased, unless we notify you at the time of sign-up or prior to the beginning of the renewal period as described above, or if you were previously signed up for a discount rate for which you are no longer eligible -- in which case your purchase will automatically be charged at our standard offered rates and for our standard period (usually every four weeks).  
							<br><br>
							Each time you receive a meal delivery or log onto the Website you reaffirm your agreement that we may charge your credit card (or other form of payment, if applicable). In the event we cannot charge your account, we reserve the right to terminate your scheduled deliveries and account access.
							<br><br>
							You agree to provide us with true, accurate and complete information as required by the sign-up process, including your legal name, address, telephone number, email address and applicable billing information (e.g., credit card number and expiration date), and to allow us to share your information with third parties for the sole purpose of verifying the information you provide and billing your credit card or otherwise charging your account. You agree to maintain and promptly update the information you provide to us. Without limiting any other provision of this Agreement, if you provide any information that is untrue, inaccurate, or incomplete, or we have reasonable grounds to suspect that such is the case, we reserve the right to suspend or terminate your service, and if applicable, your user account, and refuse any and all current or future Meal Plan deliveries and/or access by you to the Website (or any portion thereof).</p>
							
							<h3>5. Cancellation of Service</h3>
							<p>You can cancel your service by contacting Customer Service at <a href="mailto:support@homebiscuit.com">support@homebiscuit.com</a> or as otherwise set forth in the Website which can be found at <a href="/">www.homebiscuit.com</a> or by calling customer support at 615-829-6210. We will attempt to process all cancellation requests promptly, provided that you send your request via the acceptable methods.</p>
							
							<h3>6. Refunds</h3>
							<p>Our fees, including the meals purchased in advance for any month (or portion thereof) elapsed are nonrefundable except as set forth below:</p>
							<md-list>
								<md-list-item class="md-2-line md-long-text">
									<div class="md-avatar md-caption">1 )</div>
									<div class="md-list-item-text">
										<p>If you order with a discounted plan and you decide to cancel during the period for which a discount has or would be applied, we will refund you the difference (if any) if the amount you paid is greater than the amount you would have paid for the months elapsed if you were subject to our standard pricing in effect during such time and not subject to a discount.</p>
									</div>
								</md-list-item>
								<md-list-item class="md-2-line md-long-text">
									<div class="md-avatar md-caption">2 )</div>
									<div class="md-list-item-text">
										<p>Depending on when we receive your notice of cancellation, it is possible that we may have already charged you for the subsequent period. In that case, we will refund you the full amount for that next period as long as you cancel the service no less than 5 business days before the first day of the week your Membership Plan's delivery is scheduled to start again.</p>
									</div>
								</md-list-item>
								<md-list-item class="md-2-line md-long-text">
									<div class="md-avatar md-caption">3 )</div>
									<div class="md-list-item-text">
										<p>If you are canceling your subscription within 5 business days (or such other period as required by law) prior to receipt of your initial Membership Plan delivery, we will refund the full amount of such initial purchase.</p>
									</div>
								</md-list-item>
								<md-list-item class="md-2-line md-long-text">
									<div class="md-avatar md-caption">4 )</div>
									<div class="md-list-item-text">
										<p>If we terminate your agreement(as opposed to you cancelling your agreement), other than due to your violation of this Agreement, prior to the end of a period for which you have incurred a charge, we will refund any unused portion for unused Membership Plans.</p>
									</div>
								</md-list-item>
								<md-list-item class="md-2-line md-long-text">
									<div class="md-avatar md-caption">5 )</div>
									<div class="md-list-item-text">
										<p>If you cancel your agreement and are entitled to a full refund, we reserve the right to charge a fee to cover the cost to us of any administrative or other services you may have used or inventory ordered or committed prior to your cancellation, to the extent permitted by law.</p>
									</div>
								</md-list-item>
							</md-list>
							
							<h3>7. Availability of Membership Plans</h3>
							<p>The availability and use of Membership Plans may be limited based on demographic, geographic or other criteria we may establish from time to time. You understand and agree we may disallow you from purchasing Membership Plans or may terminate your subscription at any time based on these criteria. For example, people with certain dietary restrictions and individuals under the age of 18 may not purchase. As a client, you represent that you are physically and legally able to order our service and do not have any medical condition that may cause you harm from using our service.
								<br><br>
								We may limit the availability of Membership Plans to individuals currently receiving deliveries in participating areas or participating locations. Please visit <a href="/">www.homebiscuit.com</a> or ask in your customer service representative for details concerning these locations.</p>
								
							<h3>8. HomeBiscuit is a Limited Liability Company doing business in Tennesseee. Located at 6688 Nolensville Rd. Ste. 108 -168, Brentwood, TN 37027. Our phone number is 615-829-6210.</h3>
							
							<h3>9. Disclaimer of Warranty</h3>
							<p>PLEASE NOTE THAT NO ADVICE OR INFORMATION OBTAINED BY YOU FROM HOMEBISCUIT, LLC PERSONNEL SHALL CREATE ANY WARRANTY NOT EXPRESSLY PROVIDED FOR IN THIS AGREEMENT.</p>
							
							<h3>10. Limitation of Liability</h3>
							<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT WE SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES, OR ANY OTHER DAMAGES WHATSOEVER, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), ARISING OUT OF OR RESULTING FROM (A) ACCESS TO, OR THE INABILITY TO ACCESS, WEBSITE; (B) THE USE OF ANY PRINTED MATERIAL; OR (C) UNAUTHORIZED ACCESS TO, USE OF OR ALTERATION OF YOUR DATA.
								<br><br>
								IN NO EVENT SHALL OUR TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE), OR OTHERWISE EXCEED THE AMOUNT PAID BY YOU FOR YOUR PURCHASE IN ADVANCE. IF YOU ARE DISSATISFIED WITH ANY PORTION OF YOUR SERVICE, ANY PROVISION OF THIS AGREEMENT, OR ANY PRACTICE OR POLICY OF OURS (INCLUDING WITHOUT LIMITATION ANY CHANGE IN CONTENT, OR IN THE AMOUNT OR TYPE OF FEES ASSOCIATED WITH MONTHLY PURCHASE), YOUR SOLE AND EXCLUSIVE REMEDY IS THE DISCONTINUATION OF YOUR USE OF YOUR SERVICE. IF ANY PORTION OF THIS LIMITATION OF LIABILITY IS FOUND TO BE INVALID, LIABILITY IS LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW.</p>
								
							<h3>11. Indemnification</h3>
							<p>You agree to indemnify, hold harmless and, at our option, defend us and our officers, directors, employees, stockholders, agents and representatives from any and all third party claims, liability, damages and/or costs (including, but not limited to, reasonable attorney's fees and expenses) arising from your improper use of any HomeBiscuit, LLC products or services (including, without limitation, Member Plans), your violation of this Agreement, or the infringement or use by you or any other user of your account, of any intellectual property or other right of any person or entity.</p>
							
							<h3>12. Governing Law and Choice of Forum</h3>
							<p>This Agreement shall be governed by and construed in accordance with the laws of the State of Tennessee, without giving effect to any principles of conflicts of law. You agree that any action at law or in equity arising out of or relating to this Agreement shall be filed only in the state or federal courts located in Davidson County in the State of Tennessee and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.</p>
							
							<h3>13. Miscellaneous Terms</h3>
							<p>In any action against us arising from the Membership Plans purchase and service, the prevailing party shall be entitled to recover all legal expenses incurred in connection with the action, including but not limited to its costs and reasonable attorney's fees. If any provision of this Agreement shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from this Agreement and shall not affect the validity and enforceability of any remaining provisions. This Agreement, as it may be updated from time to time, together with the Website Terms and Conditions and any Terms and Conditions, are the entire agreement between you and HomeBiscuit, LLC relating to the subject matter herein.
								<br><br>
								HomeBiscuit, LLC may assign its rights and obligations under this Agreement. This Agreement will inure to the benefit of our successors, assigns and licensees. You agree that if we do not exercise or enforce any legal right or remedy under this Agreement (or which we would have under any applicable law), that will not be construed as a waiver of our rights.
							</p>
					</section>
				</md-card-content>
			</md-card>
		</div>

		<homebiscuit-footer></homebiscuit-footer>
		
	</md-content>

</div>
