/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
.welcome_text {
	font-size: 6vmin;
	margin-bottom: 5vh;
}

.card_overlay_text_container {
	position: relative;
	z-index: 2;
	float: left;
}
md-card img {
	position: relative;
	width: 100%;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */