<div layout="vertical">
	
	<md-content layout-fill>
	
		<homebiscuit-header></homebiscuit-header>

		<div flex>
			
			<div class="layout-content">
				<md-card>
					<md-card-content>
						<h1 class="md-title">Welcome to HomeBiscuit!</h1>
						<p>First, let me say thank you for participating. Our goal is to deliver great tasting, home cooked food right to your door. We hope HomeBiscuit helps bring your family back to the dinner table.</p>
					</md-card-content>
				</md-card>
				<md-card style="position: relative">
					<md-card-content>
						<div class="layout-content" layout-align="start center" layout="column">
							<img alt="chicken image" class="md-card-image" src="assets/images/chicken.jpg">
							<div layout-gt-sm="row" layout-wrap-sm layout-align-sm="center start" layout-fill>
								<md-card>
									<md-card-content>
										Too busy to cook? Maybe you're just looking for a fresh change? Whatever the reason, we've got you covered.
									</md-card-content>
								</md-card>
								<md-card>
									<md-card-content>
										We provide fresh meals prepared daily by local caterers, ready to eat and delivered right to your door.
									</md-card-content>
								</md-card>
								<md-card>
									<md-card-content>
										Meals are as low as $9.00 each, tax and tip included and you can even earn <b>FREE</b> meals through our referral program.
									</md-card-content>
								</md-card>
							</div>
							<md-button class="md-raised md-warn" ng-href="/#/login">Sign Up Now<span hide-sm> and let us worry about what's for dinner</span></md-button>
						</div>
					</md-card-content>
				</md-card>
				
				<!--
				<div layout-wrap layout="row">
					<md-card flex>
						<md-card-content>
							<h1 class="md-title">Getting Started</h1>
							<md-divider />
							<p>Whether you are too busy to cook or just looking for a fresh change, we've got you covered.</p>
							<md-button class="md-raised md-primary" ng-href="/#/overview">Getting Started</md-button>
						</md-card-content>
					</md-card>
					
					<md-card flex>
						<md-card-content>
							<h1 class="md-title">Menu Options</h1>
							<md-divider></md-divider>
							<p>Whether you are too busy to cook or just looking for a fresh change, we've got you covered.</p>
							<md-button class="md-raised md-primary" ng-href="/#/menu">Menu Options</md-button>
						</md-card-content>
					</md-card>
					
					<md-card flex>
						<md-card-content>
							<h1 class="md-title">Contact Us</h1>
							<md-divider />
							<p>Whether you are too busy to cook or just looking for a fresh change, we've got you covered.</p>
							<md-button class="md-raised md-primary" ng-href="/#/contact">Contact Us</md-button>
						</md-card-content>
					</md-card>
				</div>
				-->
				
				<!--
				<md-card>
					<md-card-content layout="column">
						<h1 class="md-title">Address Verification</h1>
						<md-divider />
						<p>Check to see if your address qualifies for meal deliveries.</p>
						
						<div layout-gt-sm="row" layout-align="center">
							<div flex="80" flex-sm="100" layout="row" layout-sm="column" layout-align-sm="center">
								<div flex="65" flex-sm="100" layout="row">
						            <md-input-container class="md-accent" flex>
						            	<label>Home Address</label>
						            	<input ng-model="home.address">
						            </md-input-container>
								</div>
								<div flex="30" flex-sm="100" layout-sm layout-align-sm="center">
									<md-button ng-click="verifyAddress(home.address)" class="md-primary" flex flex-sm="70">
										Verify<span hide-gt-sm> Address</span>
									</md-button>
								</div>
							</div>
						</div>
					</md-card-content>
				</md-card>
				-->
			</div>
		</div>
		
		<homebiscuit-footer></homebiscuit-footer>
		
	</md-content>

</div>