<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<div layout="vertical">

    <md-content layout-fill>

        <homebiscuit-header></homebiscuit-header>

        <div class="layout-content" layout="column">
            <md-card>
                <md-card-content>

                    <form action="{{submitUrl}}">
                        <!-- Inputs -->
                        <h1 class="md-subhead">Personal Information</h1>
                        <div layout="row" layout-sm="column" layout-margin layout-align="space-between" flex layout-wrap>
                            <md-input-container flex-gt-sm="50">
                                <label>Username</label>
                                <input ng-model="user.username" placeholder="john" required>
                            </md-input-container>
                            <md-input-container flex-gt-sm="50">
                                <label>Email Address</label>
                                <input ng-model="user.email" placeholder="johnappleseed@me.com" required>
                            </md-input-container>
                            <md-input-container flex-gt-sm="50">
                                <label>Password</label>
                                <input ng-model="user.password" type="password" required>
                            </md-input-container>
                            <md-input-container flex-gt-sm="50">
                                <label>Confirm Password</label>
                                <input ng-model="confirmpassword" type="password" required>
                            </md-input-container>
                            <p class="md-caption" ng-show="user.password !== confirmpassword" style="color: red;" flex-gt-sm="100">Confirmation password does not match.</p>

                            <md-divider flex="100" layout-margin></md-divider>

                            <md-input-container flex-gt-sm="50">
                                <label>First Name</label>
                                <input ng-model="user.firstname" placeholder="John" required>
                            </md-input-container>
                            <md-input-container flex-gt-sm="50">
                                <label>Last Name</label>
                                <input ng-model="user.lastname" placeholder="Appleseed" required>
                            </md-input-container>
                            <md-input-container flex-gt-sm="100">
                                <label>Street Address</label>
                                <input ng-model="user.street" placeholder="123 Sesame St" required>
                            </md-input-container>
                            <md-input-container flex-gt-sm="33">
                                <label>City</label>
                                <input ng-model="user.city" placeholder="Lafayette" required>
                            </md-input-container>
                            <md-input-container flex-gt-sm="33">
                                <label>State</label>
                                <input ng-model="user.state" placeholder="Louisiana" required>
                            </md-input-container>
                            <md-input-container flex-gt-sm="33">
                                <label>Zip Code</label>
                                <input ng-model="user.zip" placeholder="70508" required>
                            </md-input-container>
                        </div>

                        <md-divider></md-divider>

                        <h1 class="md-title">Subscriptions</h1>
                        <md-input-container flex-gt-sm="50">
                            <label>Referred By</label>
                            <input ng-model="referredBy" placeholder="someuser123">
                        </md-input-container>
                        <p class="md-caption" ng-show="referredBy != '' && user.referredBy != referredBy" style="color: red;" flex-gt-sm="100">That doesn't appear to be a valid referral code</p>


                        <div layout-sm="column" layout-fill layout-wrap layout="row" layout-align="center start">
                            <md-card class="md-whiteframe-4dp" flex ng-repeat="subscription in subscriptions">
                                <md-toolbar class="md-primary md-hue-2 md-toolbar-tools">
                                    <h1 class="md-title">{{ subscription.name }} Member</h1>
                                </md-toolbar>

                                <md-card-content>
                                    <p>{{ subscription.description }}</p>
                                    <p>{{ subscription.price + subscription.currencyIsoCode }} every {{subscription.billingFrequency}} month(s)</p>
                                </md-card-content>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-checkbox class="md-primary md-ink-ripple" ng-model="user.planId" aria-label="Select" ng-true-value="'{{subscription.id}}'">
                                        Select</md-checkbox>
                                </md-card-actions>

                            </md-card>
                            <md-card class="md-whiteframe-4dp" flex>
                                <md-toolbar class="md-primary md-hue-2 md-toolbar-tools">
                                    <h1 class="md-title">No Subscription</h1>
                                </md-toolbar>

                                <md-card-content>
                                    <p>  Feel free to order on demand as needed for $15 per meal*.</p>
                                </md-card-content>

                                <md-card-actions layout="row" layout-align="end center">
                                    <md-checkbox  class="md-primary md-ink-ripple" ng-model="user.planId" aria-label="Select" ng-true-value="'None'">
                                        Select</md-checkbox>
                                </md-card-actions>

                            </md-card>



                        </div>

                        <p>Please note, 1 meal is 1 entree and 2 sides</p>
                        <md-divider></md-divider>

                        <h1 class="md-subhead">Payment Information</h1>
                        <div layout="row" layout-sm="column" layout-align="center" flex layout-margin layout-wrap>

                            <div id="payment-form"></div>
                        </div>

                        <md-divider></md-divider>

                        <h1 class="md-subhead">Terms & Conditions</h1>
                        <div layout="column" layout-margin layout-align="center" flex>
                            <object data="assets/docs/terms-and-conditions.pdf" height="400"></object>
                            <md-checkbox ng-model="termsAccepted" class="md-primary">I have read and agree to the terms and conditions</md-checkbox>
                        </div>

                        <md-divider></md-divider>

                        <p class="md-caption" ng-show="createError" style="color: red;" flex-gt-sm="100">{{createError}}</p>
                        <!-- Buttons -->
                        <div layout="row" layout-sm="column" layout-align="center" flex layout-margin layout-wrap>
                            <!-- Cancel Button -->
                            <md-button class="md-accent md-raised" ng-href="/#/login">Cancel</md-button>
                            <!-- Register Button -->
                            <md-button class="md-primary md-raised" type="submit" ng-disabled="!readyToSubmit()">Register</md-button>
                        </div>
                    </form>

                </md-card-content>

            </md-card>

        </div>

        <homebiscuit-footer></homebiscuit-footer>

    </md-content>
</div>
